<ul class="nav nav-tabs">
  <li role="presentation" {% if route == "about" %} class="active" {% endif %}><a href="/">Accueil</a></li>
  <li role="presentation" {% if route == "session1" %} class="active" {% endif %}><a href="/session1/">Session 1</a></li>
  <li role="presentation" {% if route == "session2" %} class="active" {% endif %}><a href="/session2/">Session 2</a></li>
</ul>
